{%extends "base.html"%}

{% block content %}

{% include '_messages.html'%}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/brands">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Category</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown Link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>

  </div>
</nav>
</div>
<div class="container">
  <table class="table table-sm table-condensed table-striped table-hover">
    <thead>
      <th>Sr</th>
      <th>Name</th>

      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% if brands %}
      {% for brand in brands%}
      <tr>
        <td>{{loop.index}}</td>
        <td >{{brand.name}}</td>
        <td><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-outline-info">Edit</a></td>
        <td>
          <!-- <a href="" class="btn btn-outline-danger">Delete</a> -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
            Delete
          </button>
        </td>
      </tr>

      <!-- Button trigger modal -->


      <!--  Modal -->
      <div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{brand.name}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger"> Are you sure that you want to delete this brand {{brand.name}}</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
              <form class=""action="{{url_for('deletebrand', id=brand.id)}}" method="POST">
                <button type="submit" class="btn btn-primary btn-sm">Delete</button>
              </form>

            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% else %}
      {% for category in categories%}
      <tr>
        <td>{{loop.index}}</td>
        <td >{{category.name}}</td>

        <td><a href="{{url_for('updatecat', id = category.id)}}" class="btn btn-outline-info">Edit</a></td>
        <td>
          <!-- <a href="" class="btn btn-outline-danger">Delete</a> -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
            Delete
          </button>
        </td>
      </tr>

      <!--  Modal -->
      <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{category.name}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger"> Are you sure that you want to delete this brand {{category.name}}</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
              <form class=""action="{{url_for('deletecategory', id=category.id)}}" method="POST">
                <button type="submit" class="btn btn-primary btn-sm">Delete</button>
              </form>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif%}
    </tbody>
  </table>
</div>
{% endblock content %}
