{%extends "base.html"%}

{% block content %}

{% include '_messages.html'%}
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"> </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/brands">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Category</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
<div class="container">
  <table class="table table-sm table-condensed table-striped">
    <thead>
      <th>Sr</th>
      <th>Product</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Brand</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for product in products%}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.discount}} %</td>
        <td>{{product.brand.name}}</td>
        <td><img src="{{url_for("static", filename='images/' + product.image_1)}}" alt="" width="70" height="60"></td>
        <td><a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-info btn-sm">Edit</a></td>
        <td>
          <!-- <a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-danger btn-sm">Delete</a> -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{product.id}}">
            Delete
          </button>

        </td>
      </tr>

      <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{product.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p class="text-danger"> Are you sure you want to delete {{product.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancel</button>
        <form class="" action="{{url_for('deleteproduct', id=product.id)}}" method="post">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>

      </div>
    </div>
  </div>
</div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
