{% extends 'base.html' %}
{% block content%}

 {% include 'navbar.html' %}
<div class="container mt-4">
  {% include '_messages.html'%}
  <div class="row">
    <table table table-sm>
      <thead>
        <th>Sr</th>
        <th>image</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Subtotal</th>
        <th>Update</th>
        <th>Remove</th>
      </thead>
      <tbody>
        {% for key, product in session['Shoppingcart'].items() %}
        {% set discount = "%0.2f" |format((product.quantity|int * product.discount/100) * product.price|float) %}
        <tr>
          <td>{{loop.index}}</td>
          <td><img src="{{url_for('static', filename='images/' + product.image)}}"
          alt="{{product.name}}" width="50" height="45"></td>
          <td>{{product.name}}</td>

          <form class="" action="{{url_for('Updatecart', code=key)}}" method="post">

            <td>
              {% set colors = product.colors.split(',') %}
              <label for="colors">Colors:</label>
              <select class="" name="color" id="color">
                <option value="{{product.color}}" style="display: none;">{{product.color|capitalize}}</option>
                {% for color in colors %}
                {% set col = color.split(':') %}
                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                {% endfor %}
              </select>



            </td>
            <td>{{product.price}}</td>
            <td><input type="number" name="quantity" min = "1" max = "10" value="{{product.quantity}}"></td>
            {% if product.discount > 0 %}
            <td>{{product.discount}}%  {{discount}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% set subtotal = product.quantity|int * product.price|float %}
            <td>{{"%0.2f"|format((subtotal|float) - discount|float)}}</td>
            <td><button type="submit" class="btn btn-sm btn-info">Update</button></td>

          </form>

          <td> <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-danger btn-sm">Remove</a></td>
        </tr>
        {% endfor %}
        <hr>
        <hr>
        <tr>
          <td></td>
          <td><a href="/">Continue shopping</a></td>
          <td colspan="3">Tax: {{tax}}</td>
          <td colspan="4"> Grand Total: {{grandtotal}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

{% endblock content%}
